<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">

    <mat-card fxFlex="100">

    <mat-card-title>Academia-Maraomba</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  

  <hr>
  <mat-card>
    <mat-card-actions>
      <button class="material-icons" mat-raised-button color="primary" routerLink="/aluno">Cadastro Aluno</button>
      <button class="material-icons" mat-raised-button color="primary" routerLink="/cadastrofuncionario">Cadastro Funcionario</button>
    </mat-card-actions>
  </mat-card>
</mat-card>
  </div>
</div>
